<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BoardWeb</display-name>
  
  <!-- 필터, url패턴 -->
  <filter>
    <filter-name>log</filter-name>
    <filter-class>com.yedam.common.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>log</filter-name>
    <url-pattern>/*</url-pattern>  <!--  *은 현재경로를 기준으로 모든 경로에 다 사용 -->
  </filter-mapping>
  
  <listener>
    <listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>
  </listener>

<!-- tiles 서블릿 -->
  <servlet>
    <servlet-name>Tiles Dispatch Servlet</servlet-name>
    <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>  <!-- TilesDispatchServlet가 타일즈 서블릿을 반환함 -->
  </servlet>
  <servlet-mapping>
    <servlet-name>Tiles Dispatch Servlet</servlet-name>
    <url-pattern>*.tiles</url-pattern>
  </servlet-mapping>
  
  <!-- 서블릿과 url 패턴을 지정 -->
  <servlet>
  <servlet-name>front</servlet-name>
  <servlet-class>com.yedam.common.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>front</servlet-name>
  <url-pattern>*.do</url-pattern>  <!-- 무슨 값인지는 모르겠지만 끝에 .do로 끝나는걸 실행시킴(여기에 설정안했으면 sevlet파일에 하나씩 등록해줘야됨 -->
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>